@font-face {
  font-family: "Mogra";
  src: url("./font/Mogra-Regular.ttf");
}

@font-face {
  font-family: "Modak";
  src: url("./font/Modak-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Modak", sans-serif;
  background-color: #ffe8cc;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 50px;
  background-image: linear-gradient(to right, #9e5f01, #28250a);
  -webkit-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
  text-decoration: none;
  font-weight: 700;
  font-family: "Mogra", sans-serif;
}

ul,
li,
.menu {
  position: relative;
  font-size: 22px;
  color: #875408;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  list-style: none;
  display: flex;
}

.menu:hover {
  color: #5b4902;
}

.banner {
  display: flex;
  margin-top: 125px;
  align-items: center;
  padding-bottom: 20px;
}

.banner .text1 {
  font-size: 70px;
  color: #674502;
  text-align: -webkit-center;
}

.banner .text2 {
  font-size: 25px;
  color: #875408;
  text-align: -webkit-center;
}

.banner img {
  width: 700px;
  height: 500px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #eed1a6;
}

.logo1 {
  font-size: 30px;
  background-image: linear-gradient(to right, #9e5f01, #28250a);
  -webkit-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
  text-decoration: none;
  font-family: "Mogra", sans-serif;
}

.menu1 {
  font-size: 22px;
  color: #875408;
  text-decoration: none;
  list-style: none;
  display: flex;
  background-color: #eed1a6;
}
